/IF2000Introduccion_Progra/build/
/IF2000_lab3/build/
/IF2000_lab5/nbproject/private/
/Lab-5/nbproject/private/
/Lab-5/build/
/Archivos/nbproject/private/
/Archivos/build/
/Quizz_Archivo/nbproject/private/
/Quizz_Archivo/build/
